{% extends "base.html" %}

{% block header %}
  {#- With the way the announce partial is set up, we can't override the entire announce div. So this adds one in the header and should be the only one used -#}
  <div data-md-component="announce" class="announce hideable" style="display: none;">
    <aside class="md-banner">
      <div class="md-banner__inner md-grid md-typeset">
          <button
            class="md-banner__button md-icon"
            aria-label="{{ lang.t('announce.dismiss') }}"
          >
            {% set icon = config.theme.icon.close or "material/close" %}
            {% include ".icons/" ~ icon ~ ".svg" %}
          </button>
        <div class="announce-content">Welcome to the Polkadot developer documentation! If you were looking for docs.substrate.io, you've been redirected here. Check out the <a class="announce-link" href="https://x.com/PolkadotDevs/status/1885377834480230498" target="_blank">official announcement</a> on X (Twitter).</div>
      </div>
    </aside>
  </div>

  {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script defer>
    console.log('Hello from the main.html!');
    document.addEventListener('DOMContentLoaded', () => {
        console.log('Hi!');
        console.log(document.referrer);

        if (document.referrer.includes('eshaben.github.io/test-docs')) {        
        const announceElement = document.querySelector('.announce.hideable');
        if (announceElement) {          
          const content = announceElement.querySelector('.md-typeset');
          if (content) {            
            const storedHash = __md_get('__announce');  
            const currentHash = __md_hash(content.innerHTML);

            const close = document.querySelector('.md-banner__button');
            if (close) {
              close.addEventListener('click', () => {                
                // If the current hash matches the stored value, hide the element
                if (currentHash === storedHash) {
                  announceElement.style.display = 'none';
                  announceElement.hidden = true;
                } else {
                  __md_set('__announce', currentHash);
                  announceElement.style.display = 'none';
                  announceElement.hidden = true;
                }
              });
            }
            
            // Only show the banner if the stored hash doesn't match
            if (currentHash !== storedHash) {
              announceElement.style.display = 'block';
            }
          }
        }
    }
    });
    </script>
{% endblock %}