:root, [data-md-color-scheme='default'] {
  /** Code highlighting color shades **/
  /* Numbers */
  --md-code-hl-number-color: #e1147b;
  /* Python function names */
  --md-code-hl-function-color: #42a2a1;
  /* JavaScript booleans, Python variable names */
  --md-code-hl-name-color: #9356e9;
  /* Strings */
  --md-code-hl-string-color: #e1147b;
  /* Python print */
  --md-code-hl-constant-color: #262626;
  /* Imports, const, let, var, async, await, function, etc. */
  --md-code-hl-keyword-color: #42a2a1;
  /* Comments */
  --md-code-hl-comment-color: #9356e9;
  /* Code highlighting */
  --md-code-hl-color: #e1147b;
  /* Backslashes */
  --md-code-hl-special-color: #262626;

  /** Footer color */
  --md-footer-bg-color: #ffffff;
  --md-footer-bg-color--dark: #ffffff;
  --md-footer-fg-color: #000000;
  --md-footer-fg-color--light: #000000;
}

:root, [data-md-color-scheme='slate'] {
  /** Code highlighting color shades **/
  /* Numbers */
  --md-code-hl-number-color: #f089bd;
  /* Python function names */
  --md-code-hl-function-color: #53cbc9;
  /* JavaScript booleans, Python variable names */
  --md-code-hl-name-color: #7c71ff;
  /* Strings */
  --md-code-hl-string-color: #f089bd;
  /* Python print */
  --md-code-hl-constant-color: #ffffff;
  /* Imports, const, let, var, async, await, function, etc. */
  --md-code-hl-keyword-color: #53cbc9;
  /* Comments */
  --md-code-hl-comment-color: #9c63ec;
  /* Code highlighting */
  --md-code-hl-color: #e1147b;
  /* Backslashes */
  --md-code-hl-special-color: #ffffff;

    /** Footer color */
  --md-footer-bg-color: #000000;
  --md-footer-bg-color--dark: #000000;
  --md-footer-fg-color: #ffffff;
  --md-footer-fg-color--light: #ffffff;
}

.tutorial {
  max-width: 36.8rem;
}

/* Header styling */ 
.md-social__link {
  height: unset;
  margin-left: .6rem;
}

.md-social__link svg {
  max-height: 1.2rem;
  max-width: 1.2rem;
}

@media screen and (min-width: 76.25em) {
  [dir=ltr] .md-header__source {
    margin-left: 0;
  }
}

/* Footer styling */
.md-footer-copyright {
  padding: .1em;
  margin: auto;
  font-size: .64rem;
}

.column {
  display: flex;
  flex-direction: column;
  margin: .5em;
}